.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* START POPUP CSS */
.popup {
  /* width: 800px; */
  background-color: red;
  animation: flash 1s infinite;
  position: absolute;
  top: 20%;
  left: 30%;
  z-index: 200;
}

@keyframes flash {
  0%, 49% {
    background-color: rgb(117, 209, 63);
    border: 3px solid #e50000;
  }
  50%, 100% {
    background-color: #e50000;
    border: 3px solid rgb(117, 209, 63);
  }
}
.off {
  background-color: yellow;
  padding: 10px;
  transform: rotate(35deg);
  border: 1px solid black;
}
.x {
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 20px;
  font-weight: bold;
  color: black!important;
  cursor: pointer;
}
.happyVic {
  z-index: 300;
  width: 600px;
  position: absolute;
  top: 10%;
  left: 25%;
}
.happyVic img {
  width: 100%;
  height: 100%;
}
.sadVic {
  z-index: 300;
  width: 600px;
  position: absolute;
  top: 10%;
  left: 25%;
}
.sadVic img {
  width: 100%;
  height: 100%;
}
/* END POPUP CSS */